
{% extends 'html/base.html' %}
{% load static %}
{% block css %}
<link rel = "stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.6.95/css/materialdesignicons.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
{% endblock css %}

<!--<img src="{% static 'images/cart.png' %}"> -->


{% block body %}

<div class="login-form">
    <h2>REGISTER NOW</h2>
    <div class="form-group "> <input type="text" class="form-control" placeholder="First Name " id="FirstName"> 
    <i class="mdi mdi-account"></i> </div>
    <div class="form-group "> <input type="text" class="form-control" placeholder="Last Name " id="LastName"> 
    <i class="mdi mdi-account"></i> </div>
    <div class="form-group "> <input type="Email" class="form-control" placeholder="Email " id="Email"> 
    <i class="mdi mdi-email"></i> </div>
    <div class="form-group "> <input type="text" class="form-control" placeholder="Username " id="UserName"> 
    <i class="mdi mdi-account"></i> </div>
    <div class="form-group log-status"> <input type="password" class="form-control" placeholder="Password" id="Passwod">
     <i class="mdi mdi-lock"></i> </div> 
     <div class="form-group log-status"> <input type="password" class="form-control" placeholder="Confirm Password" id="RePasswod">
     <i class="mdi mdi-lock"></i> </div> 
      <button type="button" class="log-btn"> Register </button>
</div>


{% endblock body %}