<!-- header -->
<div class="agileits_header">
  <div class="w3l_offers">
    <a href="products.html">Today's special Offers !</a>
  </div>
  <div class="w3l_search">
    <form action="#" method="post">
      <input
        type="text"
        name="Product"
        value="Search a product..."
        onfocus="this.value = '';"
        onblur="if (this.value == '') {this.value = 'Search a product...';}"
        required=""
      />
      <input type="submit" value=" " />
    </form>
  </div>

  <div class="w3l_header_right">
    <ul>
      <li class="dropdown profile_details_drop">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
          ><i class="fa fa-user" aria-hidden="true"></i
          ><span class="caret"></span
        ></a>
        <div class="mega-dropdown-menu">
          <div class="w3ls_vegetables">
            <ul class="dropdown-menu drp-mnu">
              <li><a href="login.html">Login</a></li>
              <li><a href="login.html">Sign Up</a></li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="w3l_header_right1">
    <h2><a href="/contact/">Contact Us</a></h2>
  </div>
  <div class="clearfix"></div>
</div>
<!-- script-for sticky-nav -->
<script>
  $(document).ready(function () {
    var navoffeset = $(".agileits_header").offset().top;
    $(window).scroll(function () {
      var scrollpos = $(window).scrollTop();
      if (scrollpos >= navoffeset) {
        $(".agileits_header").addClass("fixed");
      } else {
        $(".agileits_header").removeClass("fixed");
      }
    });
  });
</script>

<!-- //script-for sticky-nav -->
<div class="logo_products">
  <div class="container">
    <div class="w3ls_logo_products_left animate__animated animate__bounce">
      <h1>
        <a href="{% url 'home' %}"><span>KitabKhana</span> master</a>
      </h1>
    </div>
    <div class="w3ls_logo_products_left1">
      <ul class="special_items">
        <li><a href="{% url 'home' %}">Home</a><i>/</i></li>
        <li><a href="{% url 'about' %}">About Us</a><i>/</i></li>
        <li><a href="{% url 'products' %}">Best Deals</a><i>/</i></li>
        <li><a href="services.html">Services</a></li>
      </ul>
    </div>
    <div class="w3ls_logo_products_left1">
      <ul class="phone_email">
        <li><i class="fa fa-phone" aria-hidden="true"></i>(+977) 9869333066</li>
        <li>
          <i class="fa fa-envelope-o" aria-hidden="true"></i
          ><a href="#">KitabKhana@gmail.com</a>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<!-- //header -->
