{% load static %}
{% include 'components/base/base-top.html' %}
{% include 'components/header/header.html' %}

		<div class="w3l_banner_nav_right">
<!-- about -->
		<div class="privacy about">
			<h3>About Us</h3>
			<p class="animi">The goal of this project is to buy and sell the books through online platform. This project is entitled as “KitabKhana” which mean the collections of book. The main objective of this project is that the customers can buy the book without signing into the system which makes easy to operate. Through this system any people who are interested to sell their old as well as new books can sell their books without any charges. This store is an online web application where the customers can sell and buy the books. Through this application the sellers can add their book details along with their personal information so that the customers can contact them and buy their product.<br> The customers can also view the price of the books.</p>
			<div class="agile_about_grids">
				<div class="col-md-6 agile_about_grid_right">
					<img src="https://media.istockphoto.com/photos/books-on-display-in-the-corner-of-a-second-hand-bookstore-picture-id1129874863?b=1&k=20&m=1129874863&s=170667a&w=0&h=FTGHLcHTwhBCwYVQ-P4pJgrkIbwK0Kh94aYOUxTBRmg=" alt=" " class="img-responsive" />
				</div>
				<div class="col-md-6 agile_about_grid_left">
					<ol>
						
					</ol>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
<!-- //about -->
		</div>
		<div class="clearfix"></div>
	</div>
<!-- //banner -->


<!-- footer -->
{% include 'components/footer/footer.html' %}
{% include 'components/base/base-bottom.html' %}