{% extends 'base.html' %} {% block body %}

<!-- Form Name -->

<div class="container">
  <fieldset>
    <h1 class="text-center">ADD DETAILS</h1>
    <form action="" method="post" enctype="multipart/form-data">
      <div class="container" style="margin-left: 30px">
        {% csrf_token %} {{form.as_p}}
        <br />
        <input type="submit" class="btn btn-success" value="Submit" />
        <a href="{% url 'view' %}" class="btn btn-info">Back to View</a>
      </div>
    </form>
  </fieldset>
</div>
<!--
  <label class="col-md-4 control-label" for="isbn">ISBN</label>  
  <div class="col-md-4">
  <input id="isbn" name="isbn" placeholder="ISBN" class="form-control input-md" required="" type="text">
    
  </div>
</div>


<div class="form-group">
  <label class="col-md-4 control-label" for="product_name">BOOK NAME</label>  
  <div class="col-md-4">
  <input id="product_name" name="product_name" placeholder="book name" class="form-control input-md" required="" type="text">
    
  </div>
</div>



<div class="form-group">
  <label class="col-md-4 control-label" for="author">AUTHOR</label>
  <div class="col-md-4">
    <input id="author" name="author" placeholder="author name" class="form-control input-md" required="" type="text">
    </input>
  </div>
</div>


<div class="form-group">
  <label class="col-md-4 control-label" for="releaseddate">RELEASED YEAR</label>  
  <div class="col-md-4">
  <input id="releaseddate" name="releaseddate" placeholder="Year" class="form-control input-md" required="" type="text">
    
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="seller_name">SELLER NAME</label>  
  <div class="col-md-4">
  <input id="seller_name" name="seller_name" placeholder="seller name" class="form-control input-md" required="" type="text">
    
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="seller_phoneno">SELLER CONTACT NUMBER</label>  
  <div class="col-md-4">
  <input id="seller_phoneno" name="seller_phoneno" placeholder="seller phoneno" class="form-control input-md" required="" type="text">
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="esewaid">SELLER ESEWA ID</label>  
  <div class="col-md-4">
  <input id="esewaid" name="esewaid" placeholder="esewa id" class="form-control input-md" required="" type="text">
  </div>
</div>




<div class="form-group">
  <label class="col-md-4 control-label" for="product_description">BOOK DESCRIPTION</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="product_description" name="product_description"></textarea>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="category">CHOOSE BOOK CATEGORY</label>  
  <div class="col-md-4">
 <select id="category" name="category"  form="carform" class="control-label">
  <option value="novel">Novel</option>
  <option value="historical">Historical</option>
  <option value="literary">Literary</option>
  <option value="fantasy">Fantasy</option>
  <option value="action">Action and Adventure</option>
  <option value="plustwo">+2</option>
  <option value="bachelor">Bachelor</option>
  <option value="master and degree">Master and degree</option>
    </select>
  </div>
</div>



<div class="form-group">
  <label class="col-md-4 control-label" for="label">CHOOSE BOOK LABEL</label>  
  <div class="col-md-4">
 <select id="label" name="label"  form="carform" class="control-label">
  <option value="old">Old</option>
  <option value="new">New</option>
    </select>
  </div>
</div>

 

<div class="form-group">
  <label class="col-md-4 control-label" for="filebutton">BOOK IMAGE</label>
  <div class="col-md-4">
    <input id="filebutton" name="filebutton" class="input-file" type="file">
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"> </label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
  </div>
  -->

{% endblock body %}
