{% extends 'base.html' %} {% block body %}
<div class="container px-4">
  <div class="text-center mb-5">
    <h1>Welcome!!</h1>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <span style="font-size: 3rem">
          <a href="/add">
            <i class="fa fa-plus-circle" aria-hidden="true"></i
          ></a>
        </span>
        <h3>Add Product</h3>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <span style="font-size: 3rem">
          <a href="/view"> <i class="fa fa-eye" aria-hidden="true"></i></a>
        </span>
        <h3>View Product</h3>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
