<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- semantic UI -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css"
    />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <!--Chart js-->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
      integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"
      integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E="
      crossorigin="anonymous"
    />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <title>Charts</title>
  </head>
  <body>
    <div class="container">

<div class="row mt-4">

{% comment %} Bar Chart {% endcomment %}
<div class="col-md-6">
<div class="border p-4 mx-1 my-1">
<h4 class="text-muted">Bar Chart</h4>
<canvas id="barChart" width="400" height="200"></canvas>
</div>
</div>

{% comment %} Line Chart {% endcomment %}
<div class="col-md-6">
<div class="border p-4 mx-1 my-1">
<h4 class="text-muted">Line Chart</h4>
<canvas id="lineChart" width="400" height="200"></canvas>
</div>
</div>

{% comment %} Pie Chart {% endcomment %}
<div class="col-md-6">
<div class="border p-4 mx-1 my-1">
<h4 class="text-muted">Line Chart</h4>
<canvas id="pieChart" width="400" height="200"></canvas>
</div>
</div>

</div>
</div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <script>
{% comment %} Bar chart {% endcomment %}
var ctx = document.getElementById('barChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels:[{% for s in name.keys %}'{{s}}',{% endfor %}],
          datasets: [{
            label: 'Types of Books',
            data: [{% for s in name.values %}{{s}},{% endfor %}],
            backgroundColor: [{% for col  in color  %}'{{col}}',{% endfor %}] ,
            borderColor: [{% for col  in color  %}'{{col}}',{% endfor %}] ,
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            },
            gridLines: {
          display: false
        }
        },
         xAxes: [{
        ticks: {
          min: 0,
        },
        gridLines: {
          color: "rgba(0, 0, 0, .125)",
        }
      }],
       
    }  
});





    </script>
    
  </body>
</html>
