<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="static/css/otp.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <script type="text/javascript" src="{% static 'js/otp.js' %}"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <div
      class="
        container
        height-100
        d-flex
        justify-content-center
        align-items-center
      "
    >
      <div class="position-relative">
        <div class="card p-2 text-center">
          <h6>Email Verification</h6>
          <div>
            <span>A code has been sent to</span> <small>*******.com</small>
          </div>
          <div
            id="otp"
            class="inputs d-flex flex-row justify-content-center mt-2"
          >
          <form action="" method="post">
            <input
              class="m-2 text-center form-control rounded"
              type="text"
              id="first"
              maxlength="1"
            />
            <input
              class="m-2 text-center form-control rounded"
              type="text"
              id="second"
              maxlength="1"
            />
            <input
              class="m-2 text-center form-control rounded"
              type="text"
              id="third"
              maxlength="1"
            />
            <input
              class="m-2 text-center form-control rounded"
              type="text"
              id="fourth"
              maxlength="1"
            />
            <input
              class="m-2 text-center form-control rounded"
              type="text"
              id="fifth"
              maxlength="1"
            />
            <input
              class="m-2 text-center form-control rounded"
              type="text"
              id="sixth"
              maxlength="1"
            />
            </form>
          </div>
          <div class="mt-4">
            <button class="btn btn-danger px-4 validate">Submit</button>
          </div>

        </div>
      </div>
    </div>
  </body>
</html>
