{% extends 'base.html' %} {% block body %}
<!-- Book List -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center">View Book List</h1>
      <div>
        <a
          class="btn btn-secondary"
          href="/add/"
          role="button"
          style="float: right"
          >Add</a
        >
      </div>
      {% if allbooks %}
      <table class="table" style="margin-top: 2%">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Book Name</th>
            <th scope="col">Category</th>
            <th scope="col">Author</th>
            <th scope="col">ISBN</th>
            <th scope="col">Label</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for book in allbooks %}
          <tr>
            <th scope="row">{{book.id}}</th>
            <td>{{book.Book_Name}}</td>
            <td>{{book.Types_of_Book}}</td>
            <td>{{book.Author_Name}}</td>
            <td>{{book.isbn}}</td>
            <td>{{book.Label}}</td>
            <td>
              <a href="{% url 'updatebook' book.id %}" class="btn btn-primary"
                >Edit</a
              >
              <form
                action="{% url 'deletebook' book.id  %}"
                method="POST"
                class="d-inline"
              >
                {% csrf_token %}
                <input type="submit" value="Delete" class="btn btn-danger" />
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        {% else %}
        <h2 class="text-center alert alert-warning">No books found!</h2>
        {% endif %}
      </table>
    </div>
  </div>
</div>
{% endblock body %}
